
h1 {
  
  background-color: #b3d9ff;
  padding:2%
}

h2 { background-color: #e6f2ff;
  padding:2%;
  }
h3 {
  background-color: #b3d9ff;
  padding:2%;
   }
h4 {
  background-color: #b3d9ff;
  padding:2%;
}

li {
 text-align: justify;
}
#Description
{
 Background-color: #f7f7f7;
}
